<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Exam</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <!--<div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Exam</h3>
        </div> -->
 
        <div class="jumbotron">
            <h1>Trivia Questions Exam Generator</h1>
            <p class="lead">Generate exams from a pool pre-made trivia questions</p>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="getTriviaQuestions" role="button">Generate an exams</a>
            </p>
        </div>

        <div class="jumbotron">
            <h1>Exam generator</h1>
            <p class="lead">Generate exams from a pool of your own questions</p>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="getQuestions" role="button">Generate an exam</a>
            </p>
        </div>
 
    </div>
</body>
 
</html>